@import 'config';

.order-section{
    margin: 1rem 0;

    .counter{
        @include btn;
        background-color: $Light-grayish-blue;
        color: $Very-dark-blue;
        font-family: $fontBold;
        justify-content: space-between;

        img{
            cursor: pointer;
        }
    }

    .orderBtn{
        @include btn;
        margin: 1rem 0;
        font-family: $fontBold;
        font-size: .9rem;
        gap: .7rem;
        cursor: pointer;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        &:hover{
            opacity: .75;
            transition: ease-in-out .2s;
        }

        img{
            height: 1rem;
            width: auto;
            filter: brightness(1000%);

        }
    }
}

@media (min-width: 800px) {
    .order-section{
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .counter{
            height: fit-content;
        }
    }
}